{% extends "main.html" %}
{% load i18n %}
{% load static %}
{% load main_tags %}

{% block page_content %}
    <div class="container-fluid">
        <div class="container">
            <h1>Inline-edit example</h1>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Product name</th>
                            <th>Category</th>
                            <th>Webshop</th>
                            <th>Availble from</th>
                            <th>Default quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <span class="inline-edit"
                                      data-id="{{ object.id }}"
                                      data-name="bills.Product.name"
                                      data-type="text"
                                      data-value="{{ object.name }}">
                                    {{ object.name }}
                                </span>
                            </td>
                            <td>
                                <span class="inline-edit"
                                      data-id="{{ object.id }}"
                                      data-name="bills.Product.category_id"
                                      data-type="select"
                                      data-value="{{ object.category_id }}"
                                      data-label="{{ object.category.name }}"
                                      data-url="{% url 'api-product-category-list' %}">
                                    {{ object.category.name }}
                                </span>
                            </td>
                            <td>
                                <span class="inline-edit"
                                      data-id="{{ object.id }}"
                                      data-name="bills.Product.webshop"
                                      data-type="checkbox"
                                      data-label-checked="Yes"
                                      data-label-unchecked="No"
                                      data-value="{% if object.webshop %}1{% else %}0{% endif %}">
                                    {{ object.webshop|YesNo }}
                                </span>
                            </td>
                            <td>
                                <span class="inline-edit"
                                      data-id="{{ object.id }}"
                                      data-name="bills.Product.available_from"
                                      data-type="date"
                                      data-label="{{ object.available_from|date:"d/m/Y" }}"
                                      data-value="{{ object.available_from|default_if_none:""|date:"Y-m-d" }}">
                                    {{ object.available_from|date:"d/m/Y" }}
                                </span>
                            </td>
                            <td class="text-end">
                                <span class="inline-edit"
                                      data-id="{{ object.id }}"
                                      data-name="bills.Product.default_quantity"
                                      data-type="number"
                                      data-value="{{ object.default_quantity }}">
                                    {{ object.default_quantity }}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <label>Description</label><br>
                    <span class="inline-edit"
                          data-id="{{ object.id }}"
                          data-name="bills.Product.description"
                          data-type="textarea"
                          data-value="{{ object.description }}">
                        {{ object.description|default_if_none:"Please complte the description"|linebreaks }}
                    </span>
                </div>
                <div class="row">
                    <label>Radio button example</label><br>
                    <span class="inline-edit"
                          data-id="{{ object.id }}"
                          data-name="bills.Product.category_id"
                          data-type="radio"
                          data-value="{{ object.category_id }}"
                          data-label="{{ object.category.name }}"
                          data-url="{% url 'api-product-category-list' %}">
                    {{ object.category.name }}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block scripts %}
    {{ block.super }}
{% endblock %}

{% block stylesheet %}
    {{ block.super }}
{% endblock stylesheet %}
